/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

main {
  padding: 2em;
  display: flex;
  justify-content: center;
}

#testoAlternato {
  font-family: 'Bree Serif', serif;
  border: 2px solid;
  width: 500px;
  padding: 2em;
}

.parole i {
  color: #6a889c;
  display: inline-block;
  transition: all 0.8s;
  cursor: pointer;
}

.parola1 {
  transform: rotate(3turn);
}

.parole i:nth-child(2),
.parole i:nth-child(3) {
  opacity: 0;
}
